<<<<<<< HEAD


  main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50vh;
      padding-top: 100px;
  }

  .procuraPaciente {
  width: 60%;
  max-width: 500px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #333;

  border: 2px solid;
  border-radius: 30px;
  outline: none;

  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);

  transition: all 0.3s ease;
}


.procuraPaciente:focus {
  background: #fff;
  border-color: #ff9900;
  box-shadow: 0 0 12px rgba(255, 153, 0, 0.6);
}


.procuraPaciente::placeholder {
  color: #aaa;
  font-style: italic;
  transition: all 0.3s ease;
}

.procuraPaciente:focus::placeholder {
  color: #ff9900;
  opacity: 0.7;
}

=======


  main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50vh;
      padding-top: 100px;
  }

  .procuraPaciente {
  width: 60%;
  max-width: 500px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #333;

  border: 2px solid;
  border-radius: 30px;
  outline: none;

  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);

  transition: all 0.3s ease;
}


.procuraPaciente:focus {
  background: #fff;
  border-color: #ff9900;
  box-shadow: 0 0 12px rgba(255, 153, 0, 0.6);
}


.procuraPaciente::placeholder {
  color: #aaa;
  font-style: italic;
  transition: all 0.3s ease;
}

.procuraPaciente:focus::placeholder {
  color: #ff9900;
  opacity: 0.7;
}

>>>>>>> 21d6db1733199bba27884aab4d8dc4ad4fed399f
  